<!doctype html>
<html>
<head>
    {% include 'head.html' %}
</head>
<body>
<div id="text-body">
    <div id="text-centre">
        <p> There are currently no keys or restrictions on API use while this website is in development. However, fair use policy applies - set a timeout between requests, act like a human, etc.</p>
        <p> Database is updated manually - there is no set schedule on updates, but is guaranteed to be updated at least once a week </p>
        <p> Making this subdomain mobile friendly is not going to happen anytime soon. </p>
        <p> Uploading code to GitHub and making this website Open Source is a possibility in the future. </p>
        <br>
        <p> Maintained by Dennis Ying.</p>
        <br>
        <p> This website is powered by: </p>
            <ul>
                <li>Nginx</li>
                <li>uWSGI</li>
                <li>Flask</li>
                <li>Python3</li>
                <li>PostgreSQL</li>
            </ul>
        <p> Contact below in order of preference: </p>
            <ul>
                <li><a href="https://discord.gg/Z37z8Sr">Discord</a></li>
                <li><a href="https://www.linkedin.com/in/dennis-ying-935254133/">LinkedIn</a></li>
                <li><a href="http://steamcommunity.com/profiles/76561198187052103">Steam</a></li>
            </ul>
    </div>
</div>
<div id="footer">{% include 'footer.html' %}</div>
</body>
</html>
